@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <a asp-controller="Siparis" asp-action="Index" class="btn btn-primary">
        📦 Sipariş Görüntüle
    </a>
    <a asp-controller="Kategori" asp-action="Index" class="btn btn-warning text-dark">
        🏷️ Kategori Ekle
    </a>
    <a asp-controller="Urun" asp-action="Index" class="btn btn-success">
        🛒 Ürün Ekle
    </a>
    <a asp-controller="Tedarikci" asp-action="Index" class="btn btn-info text-dark">
        🚚 Tedarikçi Ekle
    </a>
</div>
