@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
        <div>
            <a asp-controller="Siparis" asp-action="Index" class="btn btn-primary">
                📦 Sipariş Görüntüle
            </a>
        </div>

        <div class="mt-2">
            <a asp-controller="Kategori" asp-action="Index" class="btn btn-warning text-dark">
                🏷️ Kategori Ekle
            </a>
        </div>

    <div class="mt-2">
        <a asp-controller="Urun" asp-action="Index" class="btn btn-success">
            🛒 Ürün Ekle
        </a>
    </div>

    <div class="mt-2">
        <a asp-controller="Tedarikci" asp-action="Index" class="btn btn-info text-dark">
            🚚 Tedarikçi Ekle
        </a>
    </div>
</div>


    
   