@model SiparisDetaylar

@{
    ViewData["Title"] = "Siparişi Sil";
}

<h2>Siparişi Sil</h2>

<h4>Bu Siparişi silmek istediğinize emin misiniz?</h4>
<hr />
<div>
    <dl class="row">
        <dt class="col-sm-2">ID</dt>
        <dd class="col-sm-10">@Model.SiparisId</dd>

        <dt class="col-sm-2">Ürün Adı</dt>
        <dd class="col-sm-10">@Model.UrunId</dd>
    </dl>

    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="SiparisId" />
        <button type="submit" class="btn btn-danger">Evet, Sil</button>
        <a asp-action="Index" class="btn btn-secondary">İptal</a>
    </form>
</div>