@model Urunler

@{
    ViewData["Title"] = "Ürün Düzenle";
}

<h2>Ürün Düzenle</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="UrunId" />
    <div class="form-group">
        <label asp-for="UrunAdi"></label>
        <input asp-for="UrunAdi" class="form-control" />
        <span asp-validation-for="UrunAdi" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Güncelle</button>
    <a asp-action="Index" class="btn btn-secondary">İptal</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}